@font-face {
    font-family: 'Patua One';
    src: url(fonts/PatuaOne-Regular.ttf);
}

@font-face {
    font-family: 'Alfa Slab One';
    src: url(fonts/AlfaSlabOne-Regular.ttf);
}

:root {
    --black: rgb(34, 40, 49);
    --grey: rgb(57, 62, 70);
    --teal: rgb(0, 173, 181);
    --white: rgb(238, 238, 238); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 55px 1fr 40px;
    background-color: var(--white);
}

.heading {
    text-align: center;
    letter-spacing: 0.3rem;
    width: 100%;
    font-size: 2rem;
    font-family: "Alfa Slab One";
    color: var(--white);
    background-color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.panel {
    background-color: var(--grey);
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.add-btn {
    padding: 10px;
    font-family: 'Patua One';
    font-size: 1.1rem;
    
    background-color: var(--teal);
    color: var(--white);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;

    height: max-content;
}

.card {
    background-color: var(--teal);
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    border-radius: 10px;
    border: 4px solid var(--black)
}

.card > * {
    display: grid;
    grid-template-columns: 1fr 3fr;

    font-family: 'Patua One';
}

.card > * span {
    font-size: 1.2rem;
}

.card > * span:nth-child(1) {
    text-align: end;
}

.card > * span:nth-child(2) {
    margin-left: 15px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-buttons button {
    font-family: 'Patua One';
    padding: 5px;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 10px;
}

form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    height: max-content;
    width: max-content;
    
    background-color: var(--black);
    color: var(--white);
    border: 10px solid var(--grey);
    outline: 2px solid black;
    border-radius: 20px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

form, form button {
    font-family: 'Patua One';
}

form p {
    padding: 5px;
}

form label:not(form label[for="book-read"]) {
    display: block;
}

form button {
    padding: 5px 25px;
}

.footer {
    color: var(--white);
    background-color: var(--black);
    font-family: 'Patua One';
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05rem;
}